<div>
  <div class="card">
    <h2 class="dashboard">Dashboard Reseña Tu mundo</h2>
  </div>
  <div class="card">
    <nav>
      <ul class="">
        <li><a  routerLink="/dashboard/referencias">Ver Referencias</a></li>
        <li><a routerLink="/dashboard/agregar">Agregar Referencia</a></li>
        <li><a routerLink="/dashboard/mis-referencias">Mis Referencias</a></li>
        <li><a  (click)="logout()">Cerrar Sesión</a></li>
      </ul>
    </nav>
  </div>
    <router-outlet></router-outlet>
</div>